/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body{
    background-color: #F7C747;
    /* font-family: 'Gotham Pro', sans-serif; */
    font-family: 'Courier New', Courier, monospace;
}
.formFooter, .formFooter-wrapper{
  display: none;
}
.notary-options {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.same-div{
  letter-spacing: 2px;
  font-size: 14px;
  border-radius: 50px;
  display: flex;
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.4));
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 250px;
  height: 50px;
  margin-bottom: 20px;
}
.content-meet{
  display: flex;
  justify-content: center;
  align-items: center;
   height: 500px;
   flex-direction: column;
}
.home-styles{
  letter-spacing: 2px;
  font-size: 14px;
  border-radius: 50px;
  display: flex;
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.4));
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: black;
  color: white;
  width: 120px;
  height: 50px;
  right: 10%;
  bottom: 10%
  }